/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

/* Global Colors */

:root {
    --body: #fff;
    --text: #000;
    --shadow: #777;
    --accent: #e1e1e1
}

.darkmode {
    --body: #222;
    --text: #fff;
    --shadow: #555;
    --accent: #1d1d1d
}

/* Title Bar */

#title-bar {
    -webkit-app-region: drag;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    background-color: var(--accent);
    padding: none;
    margin: 0px;
    z-index: 1;
}

#title {
    position: fixed;
    top: 0px;
    left: 6px;
    color: var(--text);
    background: var(--accent)

}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0.4em;
    right: 0.4em;
}

#title-bar-btns > button {
    background: none;
    border: none;
    color: var(--text);
    font-size: 1em;
    font-family: Roboto;
    width: 1.25em;
    height: 1.25em;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    right: 0.5em;
    transition: all 0.25s
}

#title-bar-btns > button:hover > img:not(.DarkIcon) {
    filter: invert();
} 

#title-bar-btns > button:hover {
    background: red;
    border-radius: 1em;
    border: none;
    color: white;
    transition: all 0.25s
}

/* Main Styles */

html,
body {
    height: 100%;
    margin: 0px;
    background: transparent;
    color: var(--text);
    transition: all 0.25s;
    padding: 0px;
    overflow: hidden;
    border-radius: 0.75em
}

main {
    display: flex;
    height: 31em;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: var(--body);
    padding: 1em;
}

* {
    user-select: none;
}


main > * {
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0%;
    width: 100vw;
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

/* Test Styles */

* {
    font-family: 'Roboto', sans-serif;
}

/* Settings */

#SettingsButton {
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: none;
    border-radius: 2em;
}

#DoneD {
    padding: 1em;
}


#Settings {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    bottom: 3vh;
    left: 3vw;
    background: var(--accent);
    width: 94vw;
    height: auto;
    z-index: 1;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 6px var(--shadow));
    transition: all 1s;
}

#Settings > * {
    filter: drop-shadow(0px 0px 6px var(--shadow));
}

.SettingsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
    background: var(--body);
    border: none;
    border-radius: 2em;
    transition: all 1s;
}
.SettingsButton:hover {
    background: #dd99ff;
    transition: all 1s;
}

.SettingsInput {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    color: black;
    font-family: 'Open Sans', sans-serif;
    background: white;
    border: none;
    border-radius: 2em;
    transition: all 1s;
}

.SettingsForm {
    display: flex;
}

/* Spotify */


#spotify {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#track {
    font-size: 2em;
}

#album {
    display: none;
}

#artist {
    font-size: 1em;
}


#art {
    height: 10em;
    width: 10em;
    pointer-events: none;
    border-radius: 1em;
}

#progress {
    font-size: 0.75em;
}
#controls {
    display: flex;
}

#progressdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
#progressdiv > p{
    font-size: 0.75em;
    padding: 1em;
}

/* Control Buttons */

#controls > button {
    background: none;
    border: none;
}

.DarkIcon {
    filter: invert()
}

#controls > button > img:hover {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(230deg)
}

.Active {
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(210deg)
}


