/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');

/* Global Colors */

:root {
    --body: #fff;
    --text: #000;
    --shadow: #777;
    --buttonL: #f88;
    --buttonR: #88f;
    --TbuttonL: #ff1;
    --TbuttonR: #ff8;
    --github: var(--text);
    --twitter: var(--text);
    --discord: var(--text);
    --twickd: var(--text);
    --theme: var(--text);
    --accent: #e1e1e1
}

.darkmode {
    --body: #222;
    --text: #fff;
    --shadow: #555;
    --buttonL: #405;
    --buttonR: #005;
    --TbuttonL: #005;
    --TbuttonR: #405;
    --github: var(--text);
    --twitter: var(--text);
    --discord: var(--text);
    --twickd: var(--text);
    --theme: var(--text);
    --accent: #1d1d1d
}

/* Main Styles */

html,
body {
    height: 100%;
    margin: 0px;
    background: var(--body);
    color: var(--text);
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

#ProjectsMain {
    top: 25vh;
    position: relative;
    padding-bottom: 5em;
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0%;
    width: 100vw;
    filter: drop-shadow(0px 0px 5px var(--shadow));
}

/* Text Styles */

h1,
h2,
label {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

/* Buttons */

#MainButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 8em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(45deg, var(--buttonL), var(--buttonR));
    border: none;
    border-radius: 2em;
    transition: width 1s;
}

#MainButton:hover {
    transition: width 1s;
    width: 10em;
}


/* Link Buttons */

#Buttons {
    padding-bottom: 1em;
}

#Buttons>button {
    background: transparent;
    border: none;
}

#twitter:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(200deg) brightness(120%) contrast(97%);
}

#github:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(340deg) brightness(200%) contrast(97%);
}

#discord:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(230deg) brightness(120%) contrast(97%);
}

#twickd:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(340deg) brightness(120%) contrast(97%);
}

.DarkIcon>#twitter:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(10deg) brightness(120%) contrast(97%);
}

.DarkIcon>#github:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.DarkIcon>#discord:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(50deg) brightness(120%) contrast(97%);
}

.DarkIcon>#twickd:hover {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(140deg) brightness(120%) contrast(97%);
}

.DarkIcon {
    filter: invert()
}

#Buttons>button>img {
    width: 2em;
}

#discord {
    width: 2.25em !important;
}

/* Theme Button */

#SettingsButton {
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: none;
    border-radius: 2em;
}

#DoneD {
    padding: 1em;
}

#RWb,
#PlaybackB,
#FFb,
#ShuffleB,
#LoopB {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 3em;
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    border: none;
    border-radius: 2em;
    padding: 1em;
}

.DarkIcon {
    filter: invert();
}

#ThemeIcon {
    filter: invert();
}


#RW:hover,
#Playback:hover,
#FF:hover,
#Shuffle:hover,
#Loop:hover {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(200deg) brightness(70%);
}

.Active {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(210deg)
}

* {
    user-select: none;
}

/* Spotify Now Playing */

#spotify {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#track {
    font-size: 2em;
}

#album {
    display: none;
}

#artist {
    font-size: 1em;
}


#art {
    height: 10em;
    width: 10em;
    pointer-events: none
}

label#progress {
    font-size: 0.75em;
}
#paa {
    display: flex;
}

#progressdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
#progressdiv > p{
    font-size: 0.75em;
    padding: 1em;
}

/* Mobile Styles */

@media only screen and (max-width:600px) {
    #Projects {
        flex-direction: column;
    }

    #Projects {
        padding-bottom: 10vh;
        flex-direction: column;
        height: auto;
    }

    .Project {
        min-width: 75vw;
    }

    #ProjectsMain {
        top: 75vh
    }
}

#Settings {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    bottom: 3vh;
    left: 3vw;
    background: var(--accent);
    width: 94vw;
    height: auto;
    z-index: 1;
    border-radius: 5px;
    filter: drop-shadow(0px 0px 6px var(--shadow));
    transition: all 1s;
}

#Settings > * {
    filter: drop-shadow(0px 0px 6px var(--shadow));
}

.SettingsButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    color: var(--text);
    font-family: 'Open Sans', sans-serif;
    background: var(--body);
    border: none;
    border-radius: 2em;
    transition: all 1s;
}
.SettingsButton:hover {
    background: #dd99ff;
    transition: all 1s;
}

.SettingsInput {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    color: black;
    font-family: 'Open Sans', sans-serif;
    background: white;
    border: none;
    border-radius: 2em;
    transition: all 1s;
}

.SettingsForm {
    display: flex;
}

body {
    transition: all 0.25s;
}

#title-bar {
    -webkit-app-region: drag;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    background-color: var(--accent);
    padding: none;
    margin: 0px;
    z-index: 2;
}

#title {
    position: fixed;
    top: 0px;
    left: 6px;
    color:white;

}

#title-bar-btns {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 0px;
    right: 6px;
}

#title-bar-btns > button {
    background: none;
    border: none;
    color: var(--text);
    font-size: 1em;
    font-family: Roboto;
}
#title-bar-btns > button:hover {
    background: red;
    border: none;
    color: white
}

body {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}